body {
	background: #000;
	color: #fff;
	font-family: "Press Start 2P", cursive;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	padding-top: 10%;
}

@keyframes rainbow {
	0% {
		background-color: red;
	}
	14% {
		background-color: orange;
	}
	28% {
		background-color: yellow;
	}
	42% {
		background-color: lime;
	}
	57% {
		background-color: cyan;
	}
	71% {
		background-color: blue;
	}
	85% {
		background-color: purple;
	}
	100% {
		background-color: red;
	}
}

h1 {
	font-size: 2rem;
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 2px black;
	-webkit-text-stroke: 1px black;
	animation: rainbow 5s linear infinite;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input,
button {
	font-family: "Press Start 2P", cursive;
	font-size: 0.8rem;
	margin: 10px;
	border-radius: 5px;
}

input {
	padding: 5px;
	width: 80px;
	text-align: center;
	font-size: 22px;

	background: #222;
	border: 2px solid #555;
	color: #fff;
	height: 50px;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.number-input-container {
	display: flex;
	align-items: center;
}

.number-input-container button {
	font-size: 2rem; /* adjust as needed */
	padding: 0.5rem 1rem; /* adjust as needed */
}

.number-input-container input {
	width: 4rem; /* adjust as needed */
	font-size: 1.5rem; /* adjust as needed */
	text-align: center;
}

button {
	padding: 20px 10px;
	background-color: #ffcc00;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
	transition: transform 0.2s;
}

button:active {
	transform: translateY(2px);
}

button:hover {
	background-color: #ffaa00;
}

button:disabled {
	background-color: #555;
	cursor: not-allowed;
}

p {
	font-size: 1rem;
	color: #ffcc00;
	text-align: center;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}

span {
	display: block;
	text-align: right;
	color: #ff0000;
	font-size: 0.8rem;
}

@media (max-width: 600px) {
	h1 {
		font-size: 1.4rem;
	}

	input,
	button {
		font-size: 0.6rem;
	}

	p {
		font-size: 0.6rem;
	}

	span {
		font-size: 0.4rem;
	}
}
